$BrightOrange: hsl(31, 77%, 52%);
$DarkCyan: hsl(184, 100%, 22%);
$VeryDarkCyan: hsl(179, 100%, 13%);
$VeryLightGray: hsl(0, 0%, 95%);
*{
    margin: 0;
    border: 0;
    font-family: 'Lexend Deca', sans-serif;
}
body{
    background-color: $VeryLightGray;
    height: 90vh;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    align-items: center;
    justify-content: center;
    height: 90vh;
    padding: 50px;
    .col{
        padding: 50px;
        height: 500px;
        color: $VeryLightGray;

        svg{
            padding-bottom: 20px;
        }
        h1{
            padding-bottom: 20px;
        }
        input {
            border-radius: 25px;
            padding: 15px;
            margin: 5px;
            cursor: pointer;
            margin-top: 250px;
        }
    }
    .col1{
        background-color: $BrightOrange;
    }
    .col2{
        background-color: $DarkCyan;
    }
    .col3{
        background-color: $VeryDarkCyan;
    }

}

@media screen and (max-width: 800px) {
    .grid-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}